.list{
    list-style-type: none;
    display: flex;
    align-content: center;
    width: 200px;
    flex-shrink: 0;
}

.icons{
    border-radius: 3px;
    margin-left: 10px;
}


.text{
    margin-left: 10px;
}

