.container{
    width: 160%;
}

.block{
    background-color: white;
    width: 650px;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px;
    margin: 1%;
    overflow: hidden;
    transition: max-height 500ms;
    img{
        border-radius: 15%;
    }
    li{
        min-width: 100%;
        list-style-type: none;
    }
}

.comments{
    display: flex;
    align-items: flex-end;
}

.comment{
    display: flex;
    margin-left: 10px;
    &:hover{
        color: #346eb8;
        fill:#346eb8;
    };
}

.commentIcon{
    width: 16px;
    height: 16px;
    transition:opacity 800ms ;
}
.commentsCount{
    margin-left: 4px;
    transition:opacity 800ms ;
}

.mainHeader{
    display: flex;
    justify-content: space-between;
}



.pullUp{
    border: none;
    background-color: inherit;
    color: #595959;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
    
}

.moreButton{
    &:hover{
        color: #346eb8
    };
    margin-top: 20px;
    border: none;
    background-color: inherit;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    transition: opacity 700ms;
    display: flex;
    align-items: center;
}

.title{
    font-size: 22px;
    font-weight: 500;
    font-family: Roboto;
}

.postDate{
    padding-left: 40px;
}


.text{
    transition:opacity 800ms ;
    margin-top: 10px;
    display:flex;
    align-items: flex-end;
    &:hover{
        color: #346eb8
    };
}


.commentIcon{
    margin-left: 10px;
    svg{
        margin-right: 5px;
    }
    display: inline-flex;
    align-items: center;
    
}