.post{
    background-color: white;
    width: 650px;
    border-radius: 10px;
    margin-bottom: 40px;

    margin:4% 0%;
    overflow: hidden;
    transition: max-height 500ms;
  h1{
    padding:0px 20px;

    margin-top: 10px;
}
    figure{
        div{
            width: 100%;
            height: 500px;
        position: relative;
        }
        figcaption  {
            background-color: #fff4e2;
            padding: 5px 20px;
        }
    }
   
}



.comments{
    display: flex;
    align-items: flex-end;
}

.comment{
    display: flex;
    margin-left: 10px;
    &:hover{
        color: #346eb8;
        fill:#346eb8;
    };
}




.mainHeader{
    display: flex;
    justify-content: space-between;
}




.title{
    font-size: 22px;
    font-weight: 500;
    font-family: Roboto;
}



.postFooter{
    display: flex;
  
    justify-content: space-between;
    svg{
        font-size: 20px;
    }
 span{
    
    align-items: center;
     padding:7px 15px;
    display: flex;
    justify-content: space-between;
   width: 250px;
 }
 article{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 120px;
     data{

         color:#279232;
         padding:0px 2px;
     }
    div:nth-child(1){
      svg{
        transform: rotate(0.25turn);
      }
     }
     div:nth-child(3){
        svg{
            transform: rotate(0.75turn);
          }
     }
    align-self: center;
    padding: 0px 20px;
 }
 
}

.comments{
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.paragraph{
    overflow-wrap: break-word;
}

.postHeader{
   
        padding:20px 20px 0px 20px;
    
      
    display: flex;
    align-items: center;
    justify-content: space-between;
    header,article{

        display: flex;
    }
 
    span{
        margin:0px 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    img{
        border-radius: 6px;
    }
}