.block{
    background-color: white;
    width: 1000px;
    border-radius: 5px;
    padding: 20px 0px;
    overflow: hidden;
    transition: max-height 500ms;
    li{
        min-width: 100%;
        list-style-type: none;
    }
    p,h1{
        margin-left: auto;
        margin-right: auto;
        width: 640px;
    }

    
    
}

.postHeader{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
        margin-right: auto;
        width: 640px;
    span{
        display: flex;
        align-items: center;
    }
}

.postMain{   
      figure{
       
           
           div{
            margin-bottom: 10px;
            margin-top: 10px; 
            width: 100%;
            height: 500px;
            position: relative;
           }
         
           figcaption{
               margin: 10px;
           }
      
      
      }
    
}

.username{
    margin-left: 10px;
}


.date{
    margin-left: 10px;
}






